<% testmode = "later" %>
<% animal = "gator" %>
<% if testmode.eql? "initial" %>
  my first time thru
<% end %>
<% if testmode.eql? "later" %>
  later
<% end %>
<%= animal %>
<%= S("sadie.primers_dirpath") %>
